version: '3'

services:
  mysql-primary:
    image: mysql-primary
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./primary:/docker-entrypoint-initdb.d
    networks:
      db-network:
        ipv4_address: 172.20.0.3
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s

  mysql-replica:
    image: mysql-replica
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - ./replica:/docker-entrypoint-initdb.d
    networks:
      db-network:
        ipv4_address: 172.20.0.2
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    depends_on:
      - mysql-primary

networks:
  db-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/16